<h2 class='page-header'>Calculate BMI</h1>

<div class="row">
  <div class="col-md-4">
    <% if flash.now[:message].present? %>
      <div class="alert alert-danger" role="danger">
        <%= flash.now[:message] %>
      </div>
    <% end %>

    <%= form_tag(calculate_bmi_path, {class: 'form-horizontal'}) do %>
      <div class="form-group">
        <label for="weight" class="control-label col-sm-2">
          Weight
        </label>
        <div class="col-sm-10">
          <%= number_field :user, :weight, step: :any, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <label for="height" class="control-label col-sm-2">
          Height
        </label>
        <div class="col-sm-10">
          <%= number_field :user, :height, step: :any, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Calculate</button>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-6">
    <% if  @bmi.present? and @category.present? %>
      <div class="alert alert-info" role="alert">
        Your BMI is:
        <strong><%= @bmi.to_f.round(2) %></strong> .
        Considered: <strong><%= @category.description %></strong>
      </div>
    <% end %>
  </div>
</div>
