<!DOCTYPE html>
<html>
  <head>
    <title>BMI Calculator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class='container'>
      <h2>Body Mass Index</h2>
      <p>This is a Ruby on Rails web application that allow users to calculate Body Mass Index in order to know overweight or underweight.</p>

      <%= yield %>
    </div>
  </body>
</html>
